### LAB 3:
LÀM SẠCH DỮ LIỆU CƠ BẢN

3. Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề
“Missing header in the csv file”

In [37]:
import pandas as pd

In [38]:
column_name=["ID","Name","Age","Wegiht","m0006","m0612","m1218","f0006","f0612","f1218"]

In [39]:
df = pd.read_csv('patient_heart_rate.csv',header=None, names=column_name,on_bad_lines="skip")
print(df)

      ID            Name   Age      Wegiht m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
10   9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
11  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87
12  11.0       Henry Nam   NaN       60kgs    78    75    72     -     -     -
13  12.0     Michel Long  34.0         NaN    65    67    55     -     -     -
14  13.0      Tana Ricky   NaN         NaN     -     -     -    68    72    70
15  15.0             NaN  52.0      180lbs     -     -     -    68    75    72

4. Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [40]:
df[['Firstname','Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print(df)

      ID   Age      Wegiht m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

5. Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [41]:
weight = df['Wegiht']
for i in range(0, len(weight)):
    x = str(weight[i])
    if "lbs" in x:
        x = x.replace("lbs","")
        float_x = float(x)
        y = int(float_x/2.2)
        y = str(y)+"kg"
        df.loc[i,"weight"] = y
print(df)

      ID   Age      Wegiht m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname weight
0     Mousé    NaN
1      Duck   70kg
2     Mouse    NaN
3    McDuck    NaN
4   Panther   90kg
5    McDuck   85kg
6    McDuck    NaN
7       Doo    NaN
8       NaN    NaN
9       NaN    NaN
10   McDuck   85kg
11   McDuck    NaN
12      Nam    NaN
13     Long    NaN
14    Ricky    NaN
15      NaN   81kg

6. Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có
thể đưa ra là xóa bỏ

In [42]:
df.dropna(how="all",inplace=True)
print(df)

      ID   Age      Wegiht m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname weight
0     Mousé    NaN
1      Duck   70kg
2     Mouse    NaN
3    McDuck    NaN
4   Panther   90kg
5    McDuck   85kg
6    McDuck    NaN
7       Doo    NaN
10   McDuck   85kg
11   McDuck    NaN
12      Nam    NaN
13     Long    NaN
14    Ricky    NaN
15      NaN   81kg

7. Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,
age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải
dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [43]:
df=df.drop_duplicates(subset=["Firstname","Lastname","Age","Wegiht"])
print(df)

      ID   Age      Wegiht m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname weight
0     Mousé    NaN
1      Duck   70kg
2     Mouse    NaN
3    McDuck    NaN
4   Panther   90kg
5    McDuck   85kg
6    McDuck    NaN
7       Doo    NaN
11   McDuck    NaN
12      Nam    NaN
13     Long    NaN
14    Ricky    NaN
15      NaN   81kg

8. Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.
Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác
hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [45]:
df['Firstname'] = df['Firstname'].str.replace(r'[^\x00-\x7F]+', 'warning', regex=True)
df['Lastname'] = df['Lastname'].str.replace(r'[^\x00-\x7F]+', 'warning', regex=True)
print(df)
print(df)

      ID   Age      Wegiht m0006 m0612 m1218 f0006 f0612 f1218     Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -  Mickwarningy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76        Donald
2    3.0  16.0         NaN     -     -     -    65    69    72          Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -       Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75          Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72          Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75         Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -   Scwarningpy
11  10.0  12.0       45kgs     -     -     -    92    95    87         Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -         Henry
13  12.0  34.0         NaN    65    67    55     -     -     -        Michel
14  13.0   NaN         NaN     -     -     -    68    72    70          Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72           NaN

       Lastname weight
0   Mouswarning    NaN
1          Duck   70kg
2         Mouse    NaN
3        McDuck    NaN
4       Panther   90kg
5        McDuck   85kg
6        McDuck    NaN
7           Doo    NaN
11       McDuck    NaN
12          Nam    NaN
13         Long    NaN
14        Ricky    NaN
15          NaN   81kg
      ID   Age      Wegiht m0006 m0612 m1218 f0006 f0612 f1218     Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -  Mickwarningy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76        Donald
2    3.0  16.0         NaN     -     -     -    65    69    72          Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -       Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75          Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72          Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75         Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -   Scwarningpy
11  10.0  12.0       45kgs     -     -     -    92    95    87         Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -         Henry
13  12.0  34.0         NaN    65    67    55     -     -     -        Michel
14  13.0   NaN         NaN     -     -     -    68    72    70          Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72           NaN

       Lastname weight
0   Mouswarning    NaN
1          Duck   70kg
2         Mouse    NaN
3        McDuck    NaN
4       Panther   90kg
5        McDuck   85kg
6        McDuck    NaN
7           Doo    NaN
11       McDuck    NaN
12          Nam    NaN
13         Long    NaN
14        Ricky    NaN
15          NaN   81kg

9. Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart
Rate”. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ
liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề
này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa
đề xuất từ chuyên gia như sau:
a. Deletion: Remove records with missing values
b. Dummy substitution: Replace missing values with a dummy but valid value:
e.g.: 0 for numerical values.
c. Mean substitution: Replace the missing values with the mean.
d. Frequent substitution: Replace the missing values with the most frequent item.
e. Improve the data collector: Your business folk will talk to the clients and inform
them about why it is worth fixing the problem with the data collector.
……
Yêu cầu:
- Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight
- Yêu cầu xử lý dữ liệu thiếu như sau: Nếu dòng nào có Age hoặc Weight có dữ liệu thì
phần Age hoặc Weight được tính như bên dưới, nếu thiếu cả 2 thông tin thì xóa dòng
o Age: Giá trị thay thế là mean của các giá trị trong cột Age

In [46]:
print("Missing values - Age:", df['Age'].isna().sum())
print("Missing values - Wegiht:", df['Wegiht'].isna().sum())
df = df[~(df['Age'].isna() & df['Wegiht'].isna())]
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)

Missing values - Age: 3
Missing values - Wegiht: 3
      ID   Age      Wegiht m0006 m0612 m1218 f0006 f0612 f1218     Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -  Mickwarningy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76        Donald
2    3.0  16.0         NaN     -     -     -    65    69    72          Mini
3    4.0  36.1       78kgs    78    79    72     -     -     -       Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75          Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72          Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75         Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -   Scwarningpy
11  10.0  12.0       45kgs     -     -     -    92    95    87         Louie
12  11.0  36.1       60kgs    78    75    72     -     -     -         Henry
13  12.0  34.0         NaN    65    67    55     -     -     -        Michel
15  15.0  52.0      180lbs     -     -     -    68    75    72           NaN

       Lastname weight
0   Mouswarning    NaN
1          Duck   70kg
2         Mouse    NaN
3        McDuck    NaN
4       Panther   90kg
5        McDuck   85kg
6        McDuck    NaN
7           Doo    NaN
11       McDuck    NaN
12          Nam    NaN
13         Long    NaN
15          NaN   81kg

10. Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta
thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd).
Còn giá trị thì là kết quả huyết áp.

In [47]:
df = pd.melt(df,id_vars=['ID','Age','Wegiht','Firstname','Lastname'], value_name='pulse_rate',var_name='sex_and_time').sort_values(['ID','Age','Wegiht','Firstname','Lastname'])
tmp_df = df['sex_and_time'].str.extract(r'(\w)(\d\d)(\d\d)',expand=True)
tmp_df.columns = ['sex', 'hours_lower', 'hours_upper']
tmp_df["Time"] = tmp_df["hours_lower"] + '-' + tmp_df["hours_upper"]
df = pd.concat([df, tmp_df], axis=1)
df = df.drop(['sex_and_time','hours_lower','hours_upper'], axis=1)
df = df.dropna()
df.to_csv('outputcleaning.csv',index=False)
print(df)

      ID   Age      Wegiht     Firstname     Lastname pulse_rate sex   Time
0    1.0  56.0       70kgs  Mickwarningy  Mouswarning         72   m  00-06
12   1.0  56.0       70kgs  Mickwarningy  Mouswarning         69   m  06-12
24   1.0  56.0       70kgs  Mickwarningy  Mouswarning         71   m  12-18
36   1.0  56.0       70kgs  Mickwarningy  Mouswarning          -   f  00-06
48   1.0  56.0       70kgs  Mickwarningy  Mouswarning          -   f  06-12
60   1.0  56.0       70kgs  Mickwarningy  Mouswarning          -   f  12-18
1    2.0  34.0   154.89lbs        Donald         Duck          -   m  00-06
13   2.0  34.0   154.89lbs        Donald         Duck          -   m  06-12
25   2.0  34.0   154.89lbs        Donald         Duck          -   m  12-18
37   2.0  34.0   154.89lbs        Donald         Duck         85   f  00-06
49   2.0  34.0   154.89lbs        Donald         Duck         84   f  06-12
61   2.0  34.0   154.89lbs        Donald         Duck         76   f  12-18
3    4.0  36.1       78kgs       Scrooge       McDuck         78   m  00-06
15   4.0  36.1       78kgs       Scrooge       McDuck         79   m  06-12
27   4.0  36.1       78kgs       Scrooge       McDuck         72   m  12-18
39   4.0  36.1       78kgs       Scrooge       McDuck          -   f  00-06
51   4.0  36.1       78kgs       Scrooge       McDuck          -   f  06-12
63   4.0  36.1       78kgs       Scrooge       McDuck          -   f  12-18
4    5.0  54.0  198.658lbs          Pink      Panther          -   m  00-06
16   5.0  54.0  198.658lbs          Pink      Panther          -   m  06-12
28   5.0  54.0  198.658lbs          Pink      Panther          -   m  12-18
40   5.0  54.0  198.658lbs          Pink      Panther         69   f  00-06
64   5.0  54.0  198.658lbs          Pink      Panther         75   f  12-18
5    6.0  52.0      189lbs          Huey       McDuck          -   m  00-06
17   6.0  52.0      189lbs          Huey       McDuck          -   m  06-12
29   6.0  52.0      189lbs          Huey       McDuck          -   m  12-18
41   6.0  52.0      189lbs          Huey       McDuck         68   f  00-06
53   6.0  52.0      189lbs          Huey       McDuck         75   f  06-12
65   6.0  52.0      189lbs          Huey       McDuck         72   f  12-18
6    7.0  19.0       56kgs         Dewey       McDuck          -   m  00-06
18   7.0  19.0       56kgs         Dewey       McDuck          -   m  06-12
30   7.0  19.0       56kgs         Dewey       McDuck          -   m  12-18
42   7.0  19.0       56kgs         Dewey       McDuck         71   f  00-06
54   7.0  19.0       56kgs         Dewey       McDuck         78   f  06-12
66   7.0  19.0       56kgs         Dewey       McDuck         75   f  12-18
7    8.0  32.0       78kgs   Scwarningpy          Doo         78   m  00-06
19   8.0  32.0       78kgs   Scwarningpy          Doo         76   m  06-12
31   8.0  32.0       78kgs   Scwarningpy          Doo         75   m  12-18
43   8.0  32.0       78kgs   Scwarningpy          Doo          -   f  00-06
55   8.0  32.0       78kgs   Scwarningpy          Doo          -   f  06-12
67   8.0  32.0       78kgs   Scwarningpy          Doo          -   f  12-18
8   10.0  12.0       45kgs         Louie       McDuck          -   m  00-06
20  10.0  12.0       45kgs         Louie       McDuck          -   m  06-12
32  10.0  12.0       45kgs         Louie       McDuck          -   m  12-18
44  10.0  12.0       45kgs         Louie       McDuck         92   f  00-06
56  10.0  12.0       45kgs         Louie       McDuck         95   f  06-12
68  10.0  12.0       45kgs         Louie       McDuck         87   f  12-18
9   11.0  36.1       60kgs         Henry          Nam         78   m  00-06
21  11.0  36.1       60kgs         Henry          Nam         75   m  06-12
33  11.0  36.1       60kgs         Henry          Nam         72   m  12-18
45  11.0  36.1       60kgs         Henry          Nam          -   f  00-06
57  11.0  36.1       60kgs         Henry          Nam          -   f  06-12
69  11.0  36.1       60kgs         Henry          Nam          -   f  12-18

11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng
phương pháp sau
• Thay thế bằng giá trị trung bình liền trước và liền sau của người đó. Nếu không
được thì dùng 2 

• Thay thế bằng giá trị trung bình 2 giá liền trước của người đó. Nếu không được
thì dùng 3

• Thay thế bằng giá trị trung bình 2 giá liền sau của người đó. Nếu không được thì
dùng 4

• Trung bình của các giá trị huyết áp của người đó. Nếu không được thì dùng 5.

• Trung bình của các giá trị huyết áp của nhóm giới tính. Nếu không được thì dùng
6

• Trung bình của các giá trị dữ liệu. Nếu không được thì thay bằng mức ổn định
trong y học.

In [48]:
print("Tỉ lệ thiếu pulse_rate:", df['pulse_rate'].isna().sum() / len(df) * 100, "%")
df['pulse_rate'] = pd.to_numeric(df['pulse_rate'], errors='coerce')
df['pulse_rate'] = df.groupby('ID')['pulse_rate'].transform(lambda x: x.interpolate(method='linear')) 
df['pulse_rate'] = df.groupby('ID')['pulse_rate'].transform(lambda x: x.fillna(x.mean()))  
df['pulse_rate'] = df.groupby('sex')['pulse_rate'].transform(lambda x: x.fillna(x.mean())) 
df['pulse_rate'] = df['pulse_rate'].fillna(df['pulse_rate'].mean())  
df['pulse_rate'] = df['pulse_rate'].fillna(70)  
print(df)

Tỉ lệ thiếu pulse_rate: 0.0 %
      ID   Age      Wegiht     Firstname     Lastname  pulse_rate sex   Time
0    1.0  56.0       70kgs  Mickwarningy  Mouswarning   72.000000   m  00-06
12   1.0  56.0       70kgs  Mickwarningy  Mouswarning   69.000000   m  06-12
24   1.0  56.0       70kgs  Mickwarningy  Mouswarning   71.000000   m  12-18
36   1.0  56.0       70kgs  Mickwarningy  Mouswarning   71.000000   f  00-06
48   1.0  56.0       70kgs  Mickwarningy  Mouswarning   71.000000   f  06-12
60   1.0  56.0       70kgs  Mickwarningy  Mouswarning   71.000000   f  12-18
1    2.0  34.0   154.89lbs        Donald         Duck   81.666667   m  00-06
13   2.0  34.0   154.89lbs        Donald         Duck   81.666667   m  06-12
25   2.0  34.0   154.89lbs        Donald         Duck   81.666667   m  12-18
37   2.0  34.0   154.89lbs        Donald         Duck   85.000000   f  00-06
49   2.0  34.0   154.89lbs        Donald         Duck   84.000000   f  06-12
61   2.0  34.0   154.89lbs        Donald         Duck   76.000000   f  12-18
3    4.0  36.1       78kgs       Scrooge       McDuck   78.000000   m  00-06
15   4.0  36.1       78kgs       Scrooge       McDuck   79.000000   m  06-12
27   4.0  36.1       78kgs       Scrooge       McDuck   72.000000   m  12-18
39   4.0  36.1       78kgs       Scrooge       McDuck   72.000000   f  00-06
51   4.0  36.1       78kgs       Scrooge       McDuck   72.000000   f  06-12
63   4.0  36.1       78kgs       Scrooge       McDuck   72.000000   f  12-18
4    5.0  54.0  198.658lbs          Pink      Panther   72.000000   m  00-06
16   5.0  54.0  198.658lbs          Pink      Panther   72.000000   m  06-12
28   5.0  54.0  198.658lbs          Pink      Panther   72.000000   m  12-18
40   5.0  54.0  198.658lbs          Pink      Panther   69.000000   f  00-06
64   5.0  54.0  198.658lbs          Pink      Panther   75.000000   f  12-18
5    6.0  52.0      189lbs          Huey       McDuck   71.666667   m  00-06
17   6.0  52.0      189lbs          Huey       McDuck   71.666667   m  06-12
29   6.0  52.0      189lbs          Huey       McDuck   71.666667   m  12-18
41   6.0  52.0      189lbs          Huey       McDuck   68.000000   f  00-06
53   6.0  52.0      189lbs          Huey       McDuck   75.000000   f  06-12
65   6.0  52.0      189lbs          Huey       McDuck   72.000000   f  12-18
6    7.0  19.0       56kgs         Dewey       McDuck   74.666667   m  00-06
18   7.0  19.0       56kgs         Dewey       McDuck   74.666667   m  06-12
30   7.0  19.0       56kgs         Dewey       McDuck   74.666667   m  12-18
42   7.0  19.0       56kgs         Dewey       McDuck   71.000000   f  00-06
54   7.0  19.0       56kgs         Dewey       McDuck   78.000000   f  06-12
66   7.0  19.0       56kgs         Dewey       McDuck   75.000000   f  12-18
7    8.0  32.0       78kgs   Scwarningpy          Doo   78.000000   m  00-06
19   8.0  32.0       78kgs   Scwarningpy          Doo   76.000000   m  06-12
31   8.0  32.0       78kgs   Scwarningpy          Doo   75.000000   m  12-18
43   8.0  32.0       78kgs   Scwarningpy          Doo   75.000000   f  00-06
55   8.0  32.0       78kgs   Scwarningpy          Doo   75.000000   f  06-12
67   8.0  32.0       78kgs   Scwarningpy          Doo   75.000000   f  12-18
8   10.0  12.0       45kgs         Louie       McDuck   91.333333   m  00-06
20  10.0  12.0       45kgs         Louie       McDuck   91.333333   m  06-12
32  10.0  12.0       45kgs         Louie       McDuck   91.333333   m  12-18
44  10.0  12.0       45kgs         Louie       McDuck   92.000000   f  00-06
56  10.0  12.0       45kgs         Louie       McDuck   95.000000   f  06-12
68  10.0  12.0       45kgs         Louie       McDuck   87.000000   f  12-18
9   11.0  36.1       60kgs         Henry          Nam   78.000000   m  00-06
21  11.0  36.1       60kgs         Henry          Nam   75.000000   m  06-12
33  11.0  36.1       60kgs         Henry          Nam   72.000000   m  12-18
45  11.0  36.1       60kgs         Henry          Nam   72.000000   f  00-06
57  11.0  36.1       60kgs         Henry          Nam   72.000000   f  06-12
69  11.0  36.1       60kgs         Henry          Nam   72.000000   f  12-18

12. Hãy rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành
công với tên file patient_heart_rate_clean.csv
Lưu ý: Ngoài ra còn rất nhiều vấn đề về mặt xử lý dữ liệu dựa trên nhiều khía cạnh khác
nhau tùy vào sự am hiểu về dữ liệu của các chuyên gia như:
• Handling dates
• Correcting character encodings (a problem you hit when you scrape data off the
web)

In [49]:
df = df[['ID', 'Firstname', 'Lastname', 'Age', 'Wegiht', 'sex', 'Time', 'pulse_rate']]
df = df.reset_index(drop=True)
df.to_csv('patient_heart_rate_clean.csv', index=False)
print(df)

      ID     Firstname     Lastname   Age      Wegiht sex   Time  pulse_rate
0    1.0  Mickwarningy  Mouswarning  56.0       70kgs   m  00-06   72.000000
1    1.0  Mickwarningy  Mouswarning  56.0       70kgs   m  06-12   69.000000
2    1.0  Mickwarningy  Mouswarning  56.0       70kgs   m  12-18   71.000000
3    1.0  Mickwarningy  Mouswarning  56.0       70kgs   f  00-06   71.000000
4    1.0  Mickwarningy  Mouswarning  56.0       70kgs   f  06-12   71.000000
5    1.0  Mickwarningy  Mouswarning  56.0       70kgs   f  12-18   71.000000
6    2.0        Donald         Duck  34.0   154.89lbs   m  00-06   81.666667
7    2.0        Donald         Duck  34.0   154.89lbs   m  06-12   81.666667
8    2.0        Donald         Duck  34.0   154.89lbs   m  12-18   81.666667
9    2.0        Donald         Duck  34.0   154.89lbs   f  00-06   85.000000
10   2.0        Donald         Duck  34.0   154.89lbs   f  06-12   84.000000
11   2.0        Donald         Duck  34.0   154.89lbs   f  12-18   76.000000
12   4.0       Scrooge       McDuck  36.1       78kgs   m  00-06   78.000000
13   4.0       Scrooge       McDuck  36.1       78kgs   m  06-12   79.000000
14   4.0       Scrooge       McDuck  36.1       78kgs   m  12-18   72.000000
15   4.0       Scrooge       McDuck  36.1       78kgs   f  00-06   72.000000
16   4.0       Scrooge       McDuck  36.1       78kgs   f  06-12   72.000000
17   4.0       Scrooge       McDuck  36.1       78kgs   f  12-18   72.000000
18   5.0          Pink      Panther  54.0  198.658lbs   m  00-06   72.000000
19   5.0          Pink      Panther  54.0  198.658lbs   m  06-12   72.000000
20   5.0          Pink      Panther  54.0  198.658lbs   m  12-18   72.000000
21   5.0          Pink      Panther  54.0  198.658lbs   f  00-06   69.000000
22   5.0          Pink      Panther  54.0  198.658lbs   f  12-18   75.000000
23   6.0          Huey       McDuck  52.0      189lbs   m  00-06   71.666667
24   6.0          Huey       McDuck  52.0      189lbs   m  06-12   71.666667
25   6.0          Huey       McDuck  52.0      189lbs   m  12-18   71.666667
26   6.0          Huey       McDuck  52.0      189lbs   f  00-06   68.000000
27   6.0          Huey       McDuck  52.0      189lbs   f  06-12   75.000000
28   6.0          Huey       McDuck  52.0      189lbs   f  12-18   72.000000
29   7.0         Dewey       McDuck  19.0       56kgs   m  00-06   74.666667
30   7.0         Dewey       McDuck  19.0       56kgs   m  06-12   74.666667
31   7.0         Dewey       McDuck  19.0       56kgs   m  12-18   74.666667
32   7.0         Dewey       McDuck  19.0       56kgs   f  00-06   71.000000
33   7.0         Dewey       McDuck  19.0       56kgs   f  06-12   78.000000
34   7.0         Dewey       McDuck  19.0       56kgs   f  12-18   75.000000
35   8.0   Scwarningpy          Doo  32.0       78kgs   m  00-06   78.000000
36   8.0   Scwarningpy          Doo  32.0       78kgs   m  06-12   76.000000
37   8.0   Scwarningpy          Doo  32.0       78kgs   m  12-18   75.000000
38   8.0   Scwarningpy          Doo  32.0       78kgs   f  00-06   75.000000
39   8.0   Scwarningpy          Doo  32.0       78kgs   f  06-12   75.000000
40   8.0   Scwarningpy          Doo  32.0       78kgs   f  12-18   75.000000
41  10.0         Louie       McDuck  12.0       45kgs   m  00-06   91.333333
42  10.0         Louie       McDuck  12.0       45kgs   m  06-12   91.333333
43  10.0         Louie       McDuck  12.0       45kgs   m  12-18   91.333333
44  10.0         Louie       McDuck  12.0       45kgs   f  00-06   92.000000
45  10.0         Louie       McDuck  12.0       45kgs   f  06-12   95.000000
46  10.0         Louie       McDuck  12.0       45kgs   f  12-18   87.000000
47  11.0         Henry          Nam  36.1       60kgs   m  00-06   78.000000
48  11.0         Henry          Nam  36.1       60kgs   m  06-12   75.000000
49  11.0         Henry          Nam  36.1       60kgs   m  12-18   72.000000
50  11.0         Henry          Nam  36.1       60kgs   f  00-06   72.000000
51  11.0         Henry          Nam  36.1       60kgs   f  06-12   72.000000
52  11.0         Henry          Nam  36.1       60kgs   f  12-18   72.000000