In [1]:
import pandas as pd
import numpy as np

Tải dữ liệu xét tuyển đại học

In [2]:
df=pd.read_csv("dulieuxettuyendaihoc.csv",index_col="STT")
df.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

In [75]:
df = pd.read_csv("dulieuxettuyendaihoc.csv", index_col="STT")
df.tail(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,8.3,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,6.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,6.1,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,5.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,7.2,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

#Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0.

In [100]:
df["DT"] = df["DT"].fillna(0)
df

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,7.00,7.54,7.01,K,K,K,2.800,3.016,2.804,0
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,4.69,5.47,5.07,Y,TB,TB,1.876,2.188,2.028,0
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,5.77,5.38,6.04,TB,TB,TB,2.308,2.152,2.416,1
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,6.21,5.20,6.88,TB,TB,K,2.484,2.080,2.752,0
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.50,6.36,6.99,K,TB,K,2.600,2.544,2.796,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,7.43,7.42,6.83,K,K,K,2.972,2.968,2.732,0
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,4.93,5.15,6.39,Y,TB,TB,1.972,2.060,2.556,0
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,7.05,7.84,7.67,K,K,K,2.820,3.136,3.068,1
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,4.15,4.72,5.29,Y,Y,TB,1.660,1.888,2.116,0
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.26,5.72,5.85,TB,TB,TB,2.104,2.288,2.340,0

In [103]:
df["T1"].fillna(df["T1"].mean())
df

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,7.00,7.54,7.01,K,K,K,2.800,3.016,2.804,0
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,4.69,5.47,5.07,Y,TB,TB,1.876,2.188,2.028,0
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,5.77,5.38,6.04,TB,TB,TB,2.308,2.152,2.416,1
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,6.21,5.20,6.88,TB,TB,K,2.484,2.080,2.752,0
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.50,6.36,6.99,K,TB,K,2.600,2.544,2.796,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,7.43,7.42,6.83,K,K,K,2.972,2.968,2.732,0
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,4.93,5.15,6.39,Y,TB,TB,1.972,2.060,2.556,0
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,7.05,7.84,7.67,K,K,K,2.820,3.136,3.068,1
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,4.15,4.72,5.29,Y,Y,TB,1.660,1.888,2.116,0
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.26,5.72,5.85,TB,TB,TB,2.104,2.288,2.340,0

#Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12.
#• Công thức tính: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10

In [84]:

df['TBM1'] = (df['T1']*2 + df['L1'] + df["H1"]+df["S1"]+df["V1"]*2+df["X1"]+df["D1"]+df["N1"] ) / 10
df['TBM2'] = (df['T2']*2 + df['L2'] + df["H2"]+df["S2"]+df["V2"]*2+df["X2"]+df["D2"]+df["N2"] ) / 10
df['TBM3'] = (df['T6']*2 + df['L6'] + df["H6"]+df["S6"]+df["V6"]*2+df["X6"]+df["D6"]+df["N6"] ) / 10
print(df[['TBM1', 'TBM2', 'TBM3']])

     TBM1  TBM2  TBM3
STT
1    7.00  7.54  7.01
2    4.69  5.47  5.07
3    5.77  5.38  6.04
4    6.21  5.20  6.88
5    6.50  6.36  6.99
..    ...   ...   ...
96   7.43  7.42  6.83
97   4.93  5.15  6.39
98   7.05  7.84  7.67
99   4.15  4.72  5.29
100  5.26  5.72  5.85

[100 rows x 3 columns]

#Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau:
#• Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y)
#• Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB)
#• Từ 6.5 đến dưới 8.0: khá (kí hiệu là K)
#• Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G)
#• Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)

In [81]:
def rank_student(score):
    if score < 5.0:
        return 'Y' # Yếu
    elif 5.0 <= score < 6.5:
        return 'TB' # Trung bình
    elif 6.5 <= score < 8.0:
        return 'K' # Khá
    elif 8.0 <= score < 9.0:
        return 'G' # Giỏi
    else:
        return 'XS' # Xuất sắc

for year in range(1, 4):
    df[f'XL{year}'] = df[f'TBM{year}'].apply(rank_student)

print(df[['TBM1', 'XL1', 'TBM2', 'XL2', 'TBM3', 'XL3']].head(100))

     TBM1 XL1  TBM2 XL2  TBM3 XL3
STT
1    7.00   K  7.54   K  7.01   K
2    4.69   Y  5.47  TB  5.07  TB
3    5.77  TB  5.38  TB  6.04  TB
4    6.21  TB  5.20  TB  6.88   K
5    6.50   K  6.36  TB  6.99   K
..    ...  ..   ...  ..   ...  ..
96   7.43   K  7.42   K  6.83   K
97   4.93   Y  5.15  TB  6.39  TB
98   7.05   K  7.84   K  7.67   K
99   4.15   Y  4.72   Y  5.29  TB
100  5.26  TB  5.72  TB  5.85  TB

[100 rows x 6 columns]

#Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương pháp Min-Max Normalization

In [83]:
df["US_TBM1"] = df["TBM1"] * 0.4
df["US_TBM2"] = df["TBM2"] * 0.4
df["US_TBM3"] = df["TBM3"] * 0.4
print(df[['TBM1' , 'TBM2','TBM3','US_TBM1', 'US_TBM2' , 'US_TBM3']].head(100))

     TBM1  TBM2  TBM3  US_TBM1  US_TBM2  US_TBM3
STT
1    7.00  7.54  7.01    2.800    3.016    2.804
2    4.69  5.47  5.07    1.876    2.188    2.028
3    5.77  5.38  6.04    2.308    2.152    2.416
4    6.21  5.20  6.88    2.484    2.080    2.752
5    6.50  6.36  6.99    2.600    2.544    2.796
..    ...   ...   ...      ...      ...      ...
96   7.43  7.42  6.83    2.972    2.968    2.732
97   4.93  5.15  6.39    1.972    2.060    2.556
98   7.05  7.84  7.67    2.820    3.136    3.068
99   4.15  4.72  5.29    1.660    1.888    2.116
100  5.26  5.72  5.85    2.104    2.288    2.340

[100 rows x 6 columns]

 #Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị “1”) và rớt ( giá trị “0”) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau
#• Với khối A, A1 nếu [(DH1*2 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
#• Với khối B nếu [(DH1 + DH2*2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
#• Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt

In [89]:
def calculate_kqxt_simple(df):
    khoi_A_A1 = (df['KT'].isin(['A', 'A1'])) & (((df['DH1']*2 + df['DH2'] + df['DH3'])/4) >= 5.0)
    Khoi_B = (df['KT'] == 'B') & (((df['DH1'] + df['DH2']*2 + df['DH3'])/4) >= 5.0)
    khoi_conlai = (~df['KT'].isin(['A', 'A1', 'B'])) & (((df['DH1'] + df['DH2'] + df['DH3'])/3) >= 5.0)
    luachon= [1, 1, 1]
    df['KQXT'] = np.select([khoi_A_A1, Khoi_B, khoi_conlai], luachon, default=0)
    return df
df = calculate_kqxt_simple(df)
print(df[['KT', 'DH1', 'DH2', 'DH3', 'KQXT']])

     KT   DH1   DH2   DH3  KQXT
STT
1    A1  3.25  3.25  4.50     0
2     C  6.00  4.00  3.50     0
3     C  5.00  6.75  4.00     1
4    D1  4.25  4.25  5.25     0
5     A  4.25  4.50  5.00     0
..   ..   ...   ...   ...   ...
96    C  5.25  1.50  6.25     0
97    C  5.25  3.75  4.75     0
98    C  7.00  8.00  4.00     1
99    C  5.00  3.50  5.50     0
100   C  5.25  2.50  4.25     0

[100 rows x 5 columns]